div.row{
    div.card-header{
        div.card-title{
            a {
                color: #6c757d;
                text-decoration: underline;
            }
        }
    }
    .card-body{
        background-color: #fff;
    }
}
