.container_left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  background-color: rgba(255, 51, 221, 0.8);
  background-image: url(https://picsum.photos/1920/1200/?random&amp;gravity=south);

  .container__icon {
    font-weight: 700 !important;
    font-size: 0.875em;
  }
}

.container_right {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;

  h1{
    margin-left: 0px;
  }
  .text-primary {
    color: purple;
  }
  .bold,
  strong {
    font-weight: 700 !important;
  }
}

.container_right .text--dark {
  margin-bottom: 0.5rem !important;
  font-weight: 700;
  line-height: 1.2;
  color: #118585;
}
