.container-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #2b354f !important;
  color: rgb(224, 116, 116);
  .bold,
  strong {
    font-weight: 700 !important;
  }

 
  
}
