

.card {
  display: flex;
  flex-direction: column;
 
  
  /*box-shadow: -11px 11px 1px rgba(68, 68, 68, 0.3);*/

}

.product__body {
  flex-wrap: wrap;
  justify-content:  space-between;
  margin: 25px, 25px;
  padding: 20 20px;
  height: 255px;
  min-width: 355px;
  color:#ebedef;
  justify-content: center;
  align-items: center;
}

.product__info {
  min-height: 35px;
  padding: 20px 20px 5px 5px;
  background: #5e5c5b;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #5e5c5b 8%, #f1efef 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #5e5c5b 8%, #f1efef 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5e5c5b 8%, #f1efef 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5e5c5b', endColorstr='#c82930', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}


.product__title{
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product__title--women {

  color: #c82930;
}

.product__title--men {
 color: #e98f11;
}



.product__detail h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}




.product__detail {
  
  background: rgb(103, 100, 100);
  border-radius: 0 0 25px 25px;
}


.product__logo {
  width: 55px;
  margin: 20px;
}

.product__image {
  align-items: center;
  padding: 10%;
  width: 50%;
  height: 50%;
  margin-top: 16px;

}


.back-text {
  display: inline-block;
  font-size: 125px;
  font-weight: 900;
  margin-left: -7px;
  margin-top: -12px;
  opacity: 0.1;
}


.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #11e95b;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.product__caption {
  display: block;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #c82930;
}

.product__rating {
  padding: 0 20px;
  font-size: 11px;
}

.product__rating i.grey {
  color: #acacab;
}

.product__size h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.ul-size {
  margin-left: 15px;
}

.ul-size li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-size li a {
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  color: #000;
}

.ul-size li a.active {
  background: #f35e3d;
  color: #fff;
}

.product-size:before,
.product-size:after {
  content: '';
  display: block;
  clear: both;
}

.product-color h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 20px;
  padding-bottom: 2px;
  text-transform: uppercase;
}

.ul-color {
  margin-left: 27px;
}

.ul-color li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-color li a {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.ul-color li a.orange {
  background: #f35e3d;
}

.ul-color li a.green {
  background: #11e95b;
}

.ul-color li a.yellow {
  background: #ffd414;
}

.ul-color li a.active:after {
  position: absolute;
  content: '';
  display: inline-block;
  border: 1px solid #f35e3d;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -5px;
  margin-top: -5px;
}

.product__price {
  position: absolute;
  background: #e98f11;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  border-radius: 7px;
  margin-top: -13px;
  margin-left: -5px;
  box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

.product__price b {
  margin-left: 5px;
}



.yt {
  position: fixed;
  padding: 7px 10px 3px 10px;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.yt:hover {
  background: rgba(0, 0, 0, 0.2);
}