.product__container {
   
    display: flex;
    flex-direction: row;
    align-content:space-around;
    background-color: rgb(249, 246, 248);

    .product-margin{
      margin-top: 40px;
      margin-bottom: 40px;
    }
   
  }